/* Footer */
footer.bg-success {
    background-color: #4169E1 !important;
    color: #ffffff;
}

footer.bg-success a {
    color: #FFD700;
    transition: color 0.3s ease;
}

footer.bg-success a:hover {
    color: #ffffff;
    text-decoration: underline;
}


.alert-success {
    background-color: #E6F0FA;
    color: #333333;
    border-color: #D1E0F5;
}

.alert-success .btn-close {
    filter: invert(0.6); 
}


main a {
    color: #4169E1; 
    transition: color 0.3s ease;
}

main a:hover {
    color: #27408B;
    text-decoration: underline;
}