.faq-page h1 {
    color: #27408B;
    font-weight: bold;
}

.accordion-button {
    background-color: #E6F0FA;
    color: #4169E1;
    font-weight: 500;
}

.accordion-button:not(.collapsed) {
    background-color: #D1E0F5;
    color: #27408B;
}

.accordion-body {
    background-color: #F0F4F8;
    font-size: 1rem;
    color: #333333;
}